<main class="content">
    <h1>Contacts</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, perspiciatis!</p>
    <h2>Subheading</h2>      
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maiores hic, magnam deserunt ex voluptatum, ducimus consectetur et aut nobis quod maxime odit itaque natus ipsam quisquam quo inventore laudantium.</p>      
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptates fuga debitis explicabo voluptatum deleniti?</p>      
    <a routerLink="addResponsable" class="btn btn-success"><i class="material-icons">&#xE147;</i><span>Add New Responsable</span></a>

    <table>
      <thead>
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>TypeResponsable</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
      
        <tr *ngFor="let respo of listResponsable">
          <td>{{respo.prenom}}</td>
          <td>{{respo.nom}}</td>
          <td>{{respo.typeResponsable}}</td>
          <td>{{respo.email}}</td>
          <td>{{respo.telephone}}</td>
          <td>{{respo.etat}}</td>
          <td>
            <a routerLink="editResponsable/{{respo.id}}" class="btn btn-success">Edit</a>
            <button class="btn btn-danger" (click)="delete(respo.id)">Delete</button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </main>