 
          <main class="content">
            <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label>description :</label>
                    <input formControlName="description" type="text"  class="form-control" placeholder="description" required>
                    <div *ngIf="activityForm.get('description')?.invalid && activityForm.get('description')?.touched" class="alert alert-danger rounded-pill mt-2">
                      <p class="text-danger" 
                      *ngIf="activityForm.get('description')?.getError('required')"
                      >
                      this field is required
                      </p>
                  </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label>dateDebuit :</label>
                    <input formControlName="dateDebuit" type="date"  class="form-control" placeholder="dateDebuit" required>
                      <div *ngIf="activityForm.get('dateDebuit')?.invalid && activityForm.get('dateDebuit')?.touched" class="alert alert-danger rounded-pill mt-2">
                        <p class="text-danger" 
                        *ngIf="activityForm.get('dateDebuit')?.getError('required')"
                        >
                        this field is required
                        </p>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label>dateFin :</label>
                      <input formControlName="dateFin" type="date"  class="form-control" placeholder="dateFin" required>
                        <div *ngIf="activityForm.get('dateFin')?.invalid && activityForm.get('dateFin')?.touched" class="alert alert-danger rounded-pill mt-2">
                          <p class="text-danger" 
                          *ngIf="activityForm.get('dateFin')?.getError('required')"
                          >
                          this field is required
                          </p>
                      </div>
                    </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label>etat :</label>
                    <input formControlName="etat" type="text"  class="form-control" placeholder="etat" required>
                      <div *ngIf="activityForm.get('etat')?.invalid && activityForm.get('etat')?.touched" class="alert alert-danger rounded-pill mt-2">
                        <p class="text-danger" 
                        *ngIf="activityForm.get('etat')?.getError('required')"
                        >
                        this field is required
                        </p>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label>idResponsable : </label>
                    <input formControlName="idResponsable" type="text" class="form-control" placeholder="idResponsable" required>
                        <div *ngIf="activityForm.get('idResponsable')?.invalid && activityForm.get('idResponsable')?.touched" class="alert alert-danger rounded-pill mt-2">
                          <p class="text-danger" 
                          *ngIf="activityForm.get('idResponsable')?.getError('required')"
                          >
                          this field is required
                          </p>
                      </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label>idExercise ></label>
                    <input formControlName="idExercise" type="text" class="form-control" placeholder="idExercise" required>
                        <div *ngIf="activityForm.get('idExercise')?.invalid && activityForm.get('idExercise')?.touched" class="alert alert-danger rounded-pill mt-2">
                          <p class="text-danger" 
                          *ngIf="activityForm.get('idExercise')?.getError('required')"
                          >
                          this field is required
                          </p>
                      </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label>typeActivity :</label>
                    <input formControlName="typeActivity"  type="text" class="form-control" placeholder="typeActivity" required>
                        <div *ngIf="activityForm.get('typeActivity')?.invalid && activityForm.get('typeActivity')?.touched" class="alert alert-danger rounded-pill mt-2">
                          <p class="text-danger" 
                          *ngIf="activityForm.get('typeActivity')?.getError('required')"
                          >
                          this field is required
                          </p>
                      </div>
                  </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>
              </form>     

          </main>
          