<div class="container mt-5 text-center">
    <img src="../../../assets/download.jpeg" class="my-5" alt="">
    <h2 class="card-title mb-5">Choose your favourite quiz!</h2>
   <div class="row d-flex justify-content-center">
    <div class="card flex-1" style="width: 20rem;">
      <div class="card-body mt-2">
        <h4 class="card-title">Premier niveau</h4>
        <p>Le premier niveau consiste à répondre à 5 questions à choix multiples. Le score
          minimal pour réussir le premier niveau et passer au second niveau est de 40/100 !
          Une fois le premier niveau est validé, on a accès au second niveau.</p>
        <a routerLink="/premier" class="btn btn-primary w-100">Continer</a>
      </div>
    </div>
  
    <div class="card flex-1 mx-2" style="width: 20rem;">
      <div class="card-body mt-2">
        <h4 class="card-title">Deuxième niveau</h4>
        <p>Le deuxième niveau consiste à répondre à 5 questions à choix multiples. Le score 
          minimal nécessaire pour valider le deuxième niveau et passer au troisième niveau 
          est de 60/100 ! Une fois le second niveau</p>
        <a routerLink="/deuxième" class="btn btn-primary w-100">Continer</a>
      </div>
    </div>
  
    <div class="card flex-1" style="width: 20rem;">
      <div class="card-body mt-2">
        <h4 class="card-title">Troisième niveau</h4>
        <p>Le troisième niveau consiste à répondre à 5 questions à choix multiples. Pour valider
          le troisième niveau et réussir le chalenge, il faudra réussir ce dernier niveau avec
          un score de 80%.</p>
        <a routerLink="/troisième" class="btn btn-primary w-100">Continer</a>
      </div>
    </div>
   </div>
  </div>