<main class="content">
    <h1>Contacts</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, perspiciatis!</p>
    <h2>Subheading</h2>      
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maiores hic, magnam deserunt ex voluptatum, ducimus consectetur et aut nobis quod maxime odit itaque natus ipsam quisquam quo inventore laudantium.</p>      
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptates fuga debitis explicabo voluptatum deleniti?</p>      
    <a [hidden]="!isResponsable()" routerLink="/admin/addActivity" class="btn btn-success"><i class="material-icons">&#xE147;</i><span>Add New Responsable</span></a>
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Type Activity</th>
          <th>Date Debut</th>
          <th>Date Fin</th>
          <th>etat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of listActivity">
          <td>{{activity.description}}</td>
          <td>{{activity.idTypeActivity}}</td>
          <td>{{activity.dateDebuit}}</td>
          <td>{{activity.dateFin}}</td>
          <td>{{activity.etat}}</td>
          <td>
            <a [hidden]="!isResponsable()" routerLink="/admin/editActivity/{{activity.id}}" class="btn btn-success">Edit</a>
            <button [hidden]="!isResponsable()" class="btn btn-danger" (click)="delete(activity.id)">Delete</button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </main>